@* クラスの名前空間を指定する(C#と同じ) *@
@using WebApp_training.Presentations.ViewModels
@* View が受け取るデータ型（ViewModel）を宣言asp-for はこの型のプロパティと結びつける *@
@model DepartmentDeleteViewModel;
@{
    ViewData["Title"] = "部署削除";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6">
            @* 送信先はControllerのConfirm()、POSTは入力値を送信する*@
            削除したい部署を選択してください
            <form asp-action="Confirm" asp-controller="DepartmentDelete" method="post">

                <div class="mb-3">
                    <label asp-for="DeptId" class="form-label"></label>
                    @*asp-itemsはSelectListItemのリストを受け取る*@
                    <select asp-for="DeptId" asp-items="Model.Departments" class="form-control">
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">確認画面へ</button>
                </div>
            </form>
        </div>
    </div>
</div>